* {
    box-sizing: border-box;
}
body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 4em;
    line-height: 1em;
    text-align: center;
    margin: 0;
    display: flex;
    min-height: 100vh;
}
input, button, select {
    cursor: pointer;
}

main {
    display: inline-block;
    margin: auto;
}
main > * {
    margin: 0.3em;
}

.settings-container {
    font-size: 1rem;
    line-height: 1em;
    position: absolute;
    left: 0;
    top: 0;
    width: 8em;
}
.modules-container {
    margin: 0;
    padding: 0;
}
.modules-container li {
    display: block;
    text-align: left;
}

/* https://codingtorque.com/digital-clock-using-html-css-and-javascript/ */
.clock {
    display: inline-flex;
    font-size: 1em;
    height: 0.91em;
    line-height: 0.93em;
    position: relative;
    overflow: hidden;
}

.clock > div {
    display: flex;
}
.number {
    width: 0.7em;
    text-align: center;
}
:first-child > .number {
    text-align: right;
}
:last-child > .number {
    text-align: left;
}

.tick {
    line-height: 0.77em;
    transition: opacity 0.8s;
}
.tick-hidden .tick {
    opacity: 0;
}

/* .move {
    animation: move 0.6s;
} */
.move :first-child {
    animation: move1 0.6s forwards;
}
.move :last-child {
    animation: move2 0.6s forwards;
}
@keyframes move1 {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}
@keyframes move2 {
    0% {
        opacity: 0;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(-100%);
    }
}

.flashcard .answer-container {
    display: none;
}
.flashcard.revealed .question-container input {
    display: none;
}
.flashcard.revealed .answer-container {
    display: block;
}
.flashcard input {
    background: transparent;
    border: 0.0625em solid currentcolor;
    border-radius: 50%;
    color: inherit;
    resize: none;
    font: inherit;
    width: 1em;
    height: 1em;
    line-height: 0;
    margin-left: 0.3em;
}

.quote-container {
    display: flex;
    flex-direction: column;
}
.quote {
    font-size: 0.5em;
    line-height: 1.5em;
    text-align: center;
    max-width: 50vw;
    margin: auto;
}
.quote:not(:empty)::before {
    content: "« ";
}
.quote:not(:empty)::after {
    content: " »";
}
.author {
    font-size: 0.75em;
    line-height: 1.5em;
    text-align: center;
    max-width: 30vw;
    margin: auto;
}
.author:not(:empty)::before {
    content: "— ";
}
.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.controls input {
    display: block;
    font: inherit;
    color: inherit;
    width: 1em;
    height: 1em;
    text-align: center;
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
}
.progress-bar {
    position: absolute;
    left: 1em;
    top: calc(50% - 0.1em);
    width: calc(var(--width) - 2em);
    height: 0.2em;
    background-color: #fff;
    transition: width 0.4s linear;
    border-radius: 0.1em;
    z-index: 1;
}

.photo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    margin: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    transition: opacity 1s ease-in-out;
}
.photo:not(.loaded) {
    opacity: 0;
}
.photo-credits {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.25em 0.5em;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5em;
    color: black;
    background-color: white;
    text-shadow: none;
    border-top-right-radius: 0.25em;
    transition: opacity 0.4s;
}
.photo-credits:empty {
    opacity: 0;
}
.photo-credits a {
    color: inherit;
}
